{% load staticfiles %}

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Dark Sky Map</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static '/darkskymap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template i.e. landing page -->
    <link href="{% static '/darkskymap/css/cover.css' %}" rel="stylesheet">


  </head>

  <body class="text-center">

 <!-- This container contains navbar as well as links to other pages -->
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Dark Sky Map</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/accueil/">Accueil</a>
            <a class="nav-link" href="/decouvrir/">Découvrir</a>
            <a class="nav-link" href="/partager/">Partager</a>
            <a class="nav-link" href="/cartedepollutionlumineuse/">Carte de Pollution Lumineuse</a>
          </nav>
        </div>
      </header>

 <!-- This section contains text placed at centre of landing page & link to map -->
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Observer le ciel.</h1>
        <p class="lead">Découvrez et partager des lieux pour observer le ciel.</p>
        <p class="lead">
          <a href="/decouvrir/" class="btn btn-lg btn-secondary">Découvrez</a>
        </p>
      </main>

 <!-- This section containes footer information of landing page -->
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Contact : fromsujay@gmail.com</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static '/darkskymap/js/jquery-slim.min.js' %}"><\/script>')</script>
    <script src="{% static '/darkskymap/js/popper.min.js' %}"></script>
    <script src="{% static '/darkskymap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
