{% load staticfiles %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS instructions for Map -->
    <link href="{% static '/darkskymap/css/styleinstructions.css' %}" rel="stylesheet" type="text/css">

    <title>Dark Sky Map</title>

  </head>

  <body>
    <div id="map" ></div>

     <!-- Code for fixed top navabar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/#/">Dark Sky Map</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/#/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/decouvrir/">Découvrir</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/partager/">Partager</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/cartedepollutionlumineuse/">Carte de Pollution Lumineuse<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Code that pulls data from NASA GIBS server and adds to map -->
    <script type="text/javascript">
      window.onload = function () {

        var mapOptions = {
          center: new google.maps.LatLng(21,78),
          zoom: 5,
          maxZoom: 8
        }

        var map = new google.maps.Map(document.getElementById('map'), mapOptions);

        var getTileUrl = function(tile, zoom){
            return '//gibs.earthdata.nasa.gov/wmts/epsg3857/best/' + 'VIIRS_Black_Marble/default/default/' + 'GoogleMapsCompatible_Level8/' + zoom + '/' + tile.y + '/' + tile.x + '.png';
          }

        var layerOptions = {
          alt: 'VIIRS_Black_Marble',
          getTileUrl: getTileUrl,
          maxZoom: 8,
          minZoom: 1,
          name: 'VIIRS_Black_Marble',
          tileSize: new google.maps.Size(256,256),
          opacity: 0.5
        }

        var imageMapType = new google.maps.ImageMapType(layerOptions);
        map.overlayMapTypes.insertAt(0,imageMapType);

      }
    </script>

    <!-- script that looks for map on Google's API server -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIQZSE4hWZYz9YcyNuTCSjjs6j3jObME0&callback=initMap">
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
